.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.test {
  background-color: rgb(184, 236, 236);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.custom-image-container {
  height: 70%;
  overflow: hidden;
}

.custom-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #a3bef5;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cardView {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.card-cart {
  display: "flex"!important;
  justify-content: "space-around";
  align-items: "center"!important;
}

@media (max-width: 767px) {

  /* Regola il valore 767px in base alle tue esigenze */
  .mobile-only {
    max-width: 200px !important;
  }

  .center-image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .card-cart {
    justify-content: space-between!important;
  }
  .card-image{
    max-width: 130px !important;
  }
}